.show-menu {
    position: absolute;
    left: 0;
    top: 70px;
    width: 20px;
    height: 20px;
    /* background-color: red; */
}


.admin-left {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* display: flex; */
}

.left-adv {
    width: 200px;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px 0;
    opacity: 1;
    transition: all 0.5s;
    box-sizing: border-box;
}

.left-adv-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
    height: 40px;
    width: 100px;
    justify-content: center;
    color: #7a80b4;
    user-select: none;
}

.left-adv-item:hover {
    color: #fff;
    background-color: #7a80b4;
}

.left-adv-right {
    height: 100%;
    width: 50%;
}

.table-users {
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
}

.user-table {
    margin: 0 auto;
    width: fit-content;
    border-collapse: collapse;
    margin-bottom: 10px;
    border-spacing: 0;
    color: #000;
}

.user-table tr:nth-child(1) {
    background-color: #4CAF50;
    color: white;

}

.user-table th {
    /* background-color: #4CAF50; */
    color: white;
}

.user-table th,
td {
    white-space: nowrap;
}

.user-table td {
    color: #000;
    padding: 5px 10px;
    font-size: 1.2rem;
    text-align: center;
}

.notice-textarea {
    width: 80%;
    height: 200px;
    margin-top: 20px;
    resize: none;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 1.2rem;
    outline: none;
}

.show-menu .iconfont {
    font-size: 20px;
    margin-left: 5px;
}

.logs {
    width: fit-content;
    margin: 0 auto;
}

.loglist {
    width: 100%;
    height: 40px;
    border-collapse: collapse;
    border-spacing: 0;
    box-sizing: border-box;
    /* 清除ul标签前面的项目符号 */
    list-style: none;
    border-bottom: 1px solid #ccc;
    user-select: none;
    line-height: 40px;
}

.loglist:hover {
    background-color: #ccc;
}

.log-content {
    background-color: #ffffff;
    width: 90vw;
    height: 90vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    overflow: auto;
    box-sizing: border-box;
    padding: 0 20px;
    z-index: 999;

}

.log-header {
    width: 100%;
    height: 40px;
    line-height: 40px;
}

.log-close {
    position: fixed;
    right: 10px;
    top: 20px;
    font-size: 20px;
    cursor: pointer;
}

.webconfig {
    width: 300px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.webconfig-header {
    background-color: #f0f0f0;
    padding: 5px;
    text-align: center;
}

.webconfig textarea {
    width: 100%;
    height: 150px;
    border: 1px solid #ccc;
    resize: vertical;
}

.webconfig-footer {
    background-color: #f0f0f0;
    text-align: right;
}

.webconfig-button {
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.webconfig-button:hover {
    background-color: #0056b3;
}

.user-table-headers {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    height: fit-content;
    box-sizing: border-box;
    padding: 10px;
    user-select: none;
}

#user-list tr:nth-child(1){
    background:transparent;
}

.user-list-img{
    width: 40px;
    border-radius: 50%;

}